BitmapReversal/PGSample/Connected Services/ServiceReferenceInvokeEcomWebServices_live/InvokeEcomWebServicesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uilogic.dp.toml.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InvokeEcomWebServicesService" targetNamespace="http://uilogic.dp.toml.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://uilogic.dp.toml.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="InvokeBitMapQueryWS" type="tns:InvokeBitMapQueryWS" />
      <xs:element name="InvokeBitMapQueryWSResponse" type="tns:InvokeBitMapQueryWSResponse" />
      <xs:element name="InvokeCaptureWS" type="tns:InvokeCaptureWS" />
      <xs:element name="InvokeCaptureWSResponse" type="tns:InvokeCaptureWSResponse" />
      <xs:element name="InvokeFullAuthReversalWS" type="tns:InvokeFullAuthReversalWS" />
      <xs:element name="InvokeFullAuthReversalWSResponse" type="tns:InvokeFullAuthReversalWSResponse" />
      <xs:element name="InvokePartialCaptureWS" type="tns:InvokePartialCaptureWS" />
      <xs:element name="InvokePartialCaptureWSResponse" type="tns:InvokePartialCaptureWSResponse" />
      <xs:element name="InvokeQueryWS" type="tns:InvokeQueryWS" />
      <xs:element name="InvokeQueryWSResponse" type="tns:InvokeQueryWSResponse" />
      <xs:element name="InvokeReversalWS" type="tns:InvokeReversalWS" />
      <xs:element name="InvokeReversalWSResponse" type="tns:InvokeReversalWSResponse" />
      <xs:element name="InvokeVoidWS" type="tns:InvokeVoidWS" />
      <xs:element name="InvokeVoidWSResponse" type="tns:InvokeVoidWSResponse" />
      <xs:complexType name="InvokeReversalWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeReversalWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeVoidWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeVoidWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeBitMapQueryWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestParameter" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeBitMapQueryWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeQueryWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="orderNumber" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
          <xs:element minOccurs="0" name="txntype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeQueryWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokePartialCaptureWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokePartialCaptureWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeCaptureWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeCaptureWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeFullAuthReversalWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="atrn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvokeFullAuthReversalWSResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InvokeReversalWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeReversalWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeQueryWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeQueryWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeVoidWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeVoidWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeQueryWS">
    <wsdl:part name="parameters" element="tns:InvokeQueryWS" />
  </wsdl:message>
  <wsdl:message name="InvokeBitMapQueryWS">
    <wsdl:part name="parameters" element="tns:InvokeBitMapQueryWS" />
  </wsdl:message>
  <wsdl:message name="InvokeVoidWS">
    <wsdl:part name="parameters" element="tns:InvokeVoidWS" />
  </wsdl:message>
  <wsdl:message name="InvokeCaptureWS">
    <wsdl:part name="parameters" element="tns:InvokeCaptureWS" />
  </wsdl:message>
  <wsdl:message name="InvokeFullAuthReversalWS">
    <wsdl:part name="parameters" element="tns:InvokeFullAuthReversalWS" />
  </wsdl:message>
  <wsdl:message name="InvokePartialCaptureWSResponse">
    <wsdl:part name="parameters" element="tns:InvokePartialCaptureWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeBitMapQueryWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeBitMapQueryWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokePartialCaptureWS">
    <wsdl:part name="parameters" element="tns:InvokePartialCaptureWS" />
  </wsdl:message>
  <wsdl:message name="InvokeFullAuthReversalWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeFullAuthReversalWSResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeReversalWS">
    <wsdl:part name="parameters" element="tns:InvokeReversalWS" />
  </wsdl:message>
  <wsdl:message name="InvokeCaptureWSResponse">
    <wsdl:part name="parameters" element="tns:InvokeCaptureWSResponse" />
  </wsdl:message>
  <wsdl:portType name="InvokeEcomWebServices">
    <wsdl:operation name="InvokeReversalWS">
      <wsdl:input name="InvokeReversalWS" message="tns:InvokeReversalWS" />
      <wsdl:output name="InvokeReversalWSResponse" message="tns:InvokeReversalWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokeVoidWS">
      <wsdl:input name="InvokeVoidWS" message="tns:InvokeVoidWS" />
      <wsdl:output name="InvokeVoidWSResponse" message="tns:InvokeVoidWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokeBitMapQueryWS">
      <wsdl:input name="InvokeBitMapQueryWS" message="tns:InvokeBitMapQueryWS" />
      <wsdl:output name="InvokeBitMapQueryWSResponse" message="tns:InvokeBitMapQueryWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokeQueryWS">
      <wsdl:input name="InvokeQueryWS" message="tns:InvokeQueryWS" />
      <wsdl:output name="InvokeQueryWSResponse" message="tns:InvokeQueryWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokePartialCaptureWS">
      <wsdl:input name="InvokePartialCaptureWS" message="tns:InvokePartialCaptureWS" />
      <wsdl:output name="InvokePartialCaptureWSResponse" message="tns:InvokePartialCaptureWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokeCaptureWS">
      <wsdl:input name="InvokeCaptureWS" message="tns:InvokeCaptureWS" />
      <wsdl:output name="InvokeCaptureWSResponse" message="tns:InvokeCaptureWSResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvokeFullAuthReversalWS">
      <wsdl:input name="InvokeFullAuthReversalWS" message="tns:InvokeFullAuthReversalWS" />
      <wsdl:output name="InvokeFullAuthReversalWSResponse" message="tns:InvokeFullAuthReversalWSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvokeEcomWebServicesServiceSoapBinding" type="tns:InvokeEcomWebServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvokeReversalWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeReversalWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeReversalWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeBitMapQueryWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeBitMapQueryWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeBitMapQueryWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeVoidWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeVoidWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeVoidWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeQueryWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeQueryWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeQueryWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeCaptureWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeCaptureWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeCaptureWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokePartialCaptureWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokePartialCaptureWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokePartialCaptureWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeFullAuthReversalWS">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="InvokeFullAuthReversalWS">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InvokeFullAuthReversalWSResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvokeEcomWebServicesService">
    <wsdl:port name="InvokeEcomWebServicesPort" binding="tns:InvokeEcomWebServicesServiceSoapBinding">
      <soap:address location="https://neo.network.ae/direcpay/secure/InvokeEcomWebServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>