BitmapReversal/PGSample/Connected Services/ServiceReferencePMTBitMapWebService_test/InvokePMTBitMapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uilogic.dp.toml.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InvokePMTBitMapService" targetNamespace="http://uilogic.dp.toml.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://uilogic.dp.toml.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="invokeQueryAPI" type="tns:invokeQueryAPI" />
      <xs:element name="invokeQueryAPIResponse" type="tns:invokeQueryAPIResponse" />
      <xs:element name="invokeRefundAPI" type="tns:invokeRefundAPI" />
      <xs:element name="invokeRefundAPIResponse" type="tns:invokeRefundAPIResponse" />
      <xs:element name="invokeSettlementAPI" type="tns:invokeSettlementAPI" />
      <xs:element name="invokeSettlementAPIResponse" type="tns:invokeSettlementAPIResponse" />
      <xs:complexType name="invokeRefundAPI">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestparameters" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invokeRefundAPIResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invokeQueryAPI">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestparameters" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invokeQueryAPIResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invokeSettlementAPI">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestparameters" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invokeSettlementAPIResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeSettlementAPIResponse">
    <wsdl:part name="parameters" element="tns:invokeSettlementAPIResponse" />
  </wsdl:message>
  <wsdl:message name="invokeQueryAPIResponse">
    <wsdl:part name="parameters" element="tns:invokeQueryAPIResponse" />
  </wsdl:message>
  <wsdl:message name="invokeRefundAPIResponse">
    <wsdl:part name="parameters" element="tns:invokeRefundAPIResponse" />
  </wsdl:message>
  <wsdl:message name="invokeRefundAPI">
    <wsdl:part name="parameters" element="tns:invokeRefundAPI" />
  </wsdl:message>
  <wsdl:message name="invokeQueryAPI">
    <wsdl:part name="parameters" element="tns:invokeQueryAPI" />
  </wsdl:message>
  <wsdl:message name="invokeSettlementAPI">
    <wsdl:part name="parameters" element="tns:invokeSettlementAPI" />
  </wsdl:message>
  <wsdl:portType name="InvokePMTBitMapWebService">
    <wsdl:operation name="invokeRefundAPI">
      <wsdl:input name="invokeRefundAPI" message="tns:invokeRefundAPI" />
      <wsdl:output name="invokeRefundAPIResponse" message="tns:invokeRefundAPIResponse" />
    </wsdl:operation>
    <wsdl:operation name="invokeQueryAPI">
      <wsdl:input name="invokeQueryAPI" message="tns:invokeQueryAPI" />
      <wsdl:output name="invokeQueryAPIResponse" message="tns:invokeQueryAPIResponse" />
    </wsdl:operation>
    <wsdl:operation name="invokeSettlementAPI">
      <wsdl:input name="invokeSettlementAPI" message="tns:invokeSettlementAPI" />
      <wsdl:output name="invokeSettlementAPIResponse" message="tns:invokeSettlementAPIResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvokePMTBitMapServiceSoapBinding" type="tns:InvokePMTBitMapWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokeQueryAPI">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokeQueryAPI">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeQueryAPIResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokeRefundAPI">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokeRefundAPI">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeRefundAPIResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokeSettlementAPI">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokeSettlementAPI">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeSettlementAPIResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvokePMTBitMapService">
    <wsdl:port name="InvokePMTBitMapWebServicePort" binding="tns:InvokePMTBitMapServiceSoapBinding">
      <soap:address location="https://uat-neo.network.ae/direcpay/secure/InvokePMTBitMapWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>